@model SIDOK.Core.Models.Dokter

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Dokter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nama" class="control-label"></label>
                <input asp-for="Nama" class="form-control"/>
                <span asp-validation-for="Nama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nik" class="control-label"></label>
                <input asp-for="Nik" class="form-control" />
                <span asp-validation-for="Nik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tanggal_Lahir" class="control-label"></label>
                <input asp-for="Tanggal_Lahir" class="form-control" />
                <span asp-validation-for="Tanggal_Lahir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tempat_Lahir" class="control-label"></label>
                <input asp-for="Tempat_Lahir" class="form-control" />
                <span asp-validation-for="Tempat_Lahir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jenis_Kelamin" class="control-label"></label>
                @*<input asp-for="Jenis_Kelamin" class="form-control" />*@
                @Html.DropDownList("Jenis_Kelamin", @ViewBag.gender as List<SelectListItem>, "Pilih Jenis Kelamin", new { @class="form-control" })
                <span asp-validation-for="Jenis_Kelamin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Spesialisasi</label>
                @Html.DropDownList("Id_Spesialisasi", new SelectList(ViewBag.spesialisasi,"Id", "Nama"), "Pilih Spesialisasi", new { @class="form-control"})
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
